.item-box {
  .item-box-myself {
    justify-content: right;

    .message-item-main {
      flex-direction: row;
      margin-left: 50px;

      .message-container {
        margin-right: 10px;

        &::after {
          border-bottom: none;
          border-right: none;
          right: -7px;
        }
      }
    }
  }

  .item-box-their {
    justify-content: left;

    .message-item-main {
      flex-direction: row-reverse;
      margin-right: 50px;

      .message-container {
        margin-left: 10px;

        &::after {
          border-top: none;
          border-left: none;
          left: -7px;
        }
      }
    }
  }
}
