$messageBorderColor: #d9d6c3;
.message-item {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-bottom: 10px;

  .message-item-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .message-container {
      padding: 5px 10px;
      border: 1px solid $messageBorderColor;
      margin-right: 10px;
      border-radius: 10px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        top: 8px;
        right: -6px;
        background: #fff;
        transform: rotate(135deg);
        border: 1px solid $messageBorderColor;
      }

      .message-content {
        word-break: break-all;
      }
    }
  }
}
