$headerHeight: 30px;
$footerHeight: 100px;

.chat-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .main-header {
    height: $headerHeight;
    line-height: $headerHeight;
  }

  .main-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .main-footer {
    height: $footerHeight;
  }
}
