$footerButtonWidth: 100px;
.footer-container {
  width: 100%;

  .footer-input {
    &::-webkit-scrollbar {
      width: 0!important
    }
  }

  .t-space-item {
    &:last-child {
      width: $footerButtonWidth;

      .t-button {
        width: 100%;
      }
    }
  }
}
