html, body, #root, .App {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.hljs-pre {
  border-radius: var(--td-radius-medium);
  padding: var(--td-comp-paddingTB-l) var(--td-comp-paddingLR-xl);
  margin: var(--td-comp-margin-m) 0;
}
